/* RESET */
@import "reset";
/* FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Kaushan+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
// @import "responsive";
// font-family: 'Bebas Neue', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Noto Sans KR', sans-serif;

.display_flex {
  display: flex !important;
}

body {
  width: 100vw;
  height: 10000px;
  background-color: #1b140b;
  // overflow: hidden;
}

header {
  position: fixed;
  width: 100vw;
  height: 100vh;

  .header_gnb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 45px;

    .header_gnb_logo {
      width: 22vh;
      height: 6vh;
      background: url("../img/logo_white.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    //logo
    .header_gnb_menu {
      width: 3vh;
      height: 3vh;
      background: url("https://www.designnas.com/portfolio/bx-site/sweet_home/img/section01/menu.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    //menu
  }

  .gnb_opened {
    width: 100vw;
    height: 75vh;
    padding: 0px 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    .gnb_menu_top {
      display: flex;
      justify-content: space-between;

      .gnb_menu_top_left {
        display: flex;
        flex-direction: column;
        font: 48px/1.5 "Bebas Neue";

        > a {
          color: rgba(255, 255, 255, 0.514);

          &:hover {
            color: #fff;
          }
        }
      }

      .gnb_menu_top_right {
        display: flex;
        flex-direction: column;
        text-align: right;
        font: 14px/1.5 "Bebas Neue";

        > p {
          color: rgba(255, 255, 255, 0.317);
        }
      }
    }

    //top
    .gnb_menu_bottom {
      display: flex;
      justify-content: space-between;

      .gnb_menu_bottom_left {
        display: flex;
        font: 18px/1 "Bebas Neue";

        > a {
          color: #fff;
          margin-right: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .gnb_menu_bottom_right {
        display: flex;
        font: 18px/1 "Bungee";

        > a {
          color: red;
        }
      }
    }

    //bottom
  }
}

//header

//영은
.ye01 {
  position: absolute;
  width: 100vw;
  height: 1000px;
  top: 2000px;
  left: 0;
  background-color: skyblue;
  opacity: 0.5;
  border: 1px solid black;
}

.ye02 {
  position: absolute;
  width: 100vw;
  height: 1000px;
  top: 2000px;
  left: 0;
  background-color: blue;
  opacity: 0.5;
  border: 1px solid black;
}
.ye03 {
  position: absolute;
  width: 100vw;
  height: 1000px;
  top: 2000px;
  left: 0;
  background-color: orange;
  opacity: 0.5;
  border: 1px solid black;
}
