/* RESET */
@import "reset";
/* FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Kaushan+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
// @import "responsive";
// font-family: 'Bebas Neue', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Noto Sans KR', sans-serif;

.display_flex {
  display: flex !important;
}

.position_relative {
  position: relative;
}

.position_fixed {
  position: fixed;
}

body {
  width: 100vw;
  height: 30000px;
  background-color: #1b140b;
  // overflow: hidden;
}

header {
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: hidden;

  .header_gnb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 45px;

    .header_gnb_logo {
      width: 22vh;
      height: 6vh;
      background: url("../img/logo_white.png");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }

    //logo
    .header_gnb_menu {
      width: 3vh;
      height: 3vh;
      background: url("https://www.designnas.com/portfolio/bx-site/sweet_home/img/section01/menu.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    //menu
  }

  .gnb_opened {
    width: 100vw;
    height: 75vh;
    padding: 0px 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    .gnb_menu_top {
      display: flex;
      justify-content: space-between;

      .gnb_menu_top_left {
        display: flex;
        flex-direction: column;
        font: 48px/1.5 "Bebas Neue";

        > a {
          color: rgba(255, 255, 255, 0.514);

          &:hover {
            color: #fff;
          }
        }
      }

      .gnb_menu_top_right {
        display: flex;
        flex-direction: column;
        text-align: right;
        font: 14px/1.5 "Bebas Neue";

        > p {
          color: rgba(255, 255, 255, 0.317);
        }
      }
    }

    //top
    .gnb_menu_bottom {
      display: flex;
      justify-content: space-between;

      .gnb_menu_bottom_left {
        display: flex;
        font: 18px/1 "Bebas Neue";

        > a {
          color: #fff;
          margin-right: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .gnb_menu_bottom_right {
        display: flex;
        font: 18px/1 "Bungee";

        > a {
          color: red;
        }
      }
    }

    //bottom
  }
}

//header

//영은

.ye01 {
  position: absolute;
  width: 100vw;
  height: 5000px;
  background-size: 100vw;
  top: 0px;
  left: 0;
  background-color: #1b140b;

  // background-size: cover;

  article {
    position: fixed;
    background-image: url("../img/pg4_main_bg.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 1300px;
    background-size: 100vw;
    opacity: 0.3;
    top: 0;
    .main {
      position: absolute;
      background-image: url("../img/pg4_main_tom.png");
      width: 100vw;
      height: 103vh;
      left: 0vw;
      background-repeat: no-repeat;
      background-size: 100vw;
      // background-size: cover;

      z-index: 3;
    }
    .text1 {
      display: flex;
      position: absolute;
      background-image: url("../img/pg4_main_text.png");
      width: 100vw;
      height: 100vh;
      top: 0;
      background-repeat: no-repeat;
      background-size: 90vw;
    }
    .text2 {
      position: absolute;
      background-image: url("../img/pg4_main_text2.png");
      width: 100vw;
      height: 150vh;
      top: 0vw;
      background-repeat: no-repeat;
      background-size: 90vw;
    }
    .F-14_1 {
      position: absolute;
      background-image: url("../img/f-14_2.png");
      width: 150vw;
      height: 200vh;
      background-size: 80vw;
      top: 1vh;
      background-repeat: no-repeat;
    }
    .F-14_2 {
      position: absolute;
      background-image: url("../img/f-14_3.png");
      width: 100vw;
      height: 100vh;
      top: 0vw;
      background-repeat: no-repeat;
      background-size: 100vw;
    }
    .F-14_3 {
      position: absolute;
      background-image: url("../img/f-14_4.png");
      width: 50vw;
      height: 120vh;
      bottom: 5vw;
      background-repeat: no-repeat;
      background-size: 90vw;
    }
    .F-14_4 {
      position: absolute;
      background-image: url("../img/f-14_5.png");
      width: 100vw;
      height: 100vh;
      top: 0vw;
      background-repeat: no-repeat;
      background-size: 100vw;
    }
    // .F-14_5 {
    //   position: absolute;
    //   background-image: url("../img/f-14_6.png");
    //   width: 100vw;
    //   height: 100vh;
    //   top: 0vw;
    //   background-repeat: no-repeat;
    //   background-size: 100vw;
    // }
  }
}

.ye02 {
  position: absolute;
  width: 100vw;
  height: 5000px;
  top: 6000px;
  left: 0;
  background-color: #1b140b;

  .text1 {
    position: fixed;
    font-family: "Bebas Neue";
    //Bebas Neue//
    top: 2vw;
    left: 5vw;

    font-size: clamp(40px, 5vw, 6vw);
    color: #fff;
  }

  .text2 {
    position: fixed;
    width: 100vw;
    height: 500px;
    top: 3vw;
    right: 5vw;
    text-align: end;

    font-size: clamp(2px, 1vw, 1vw);
    font-family: "Noto Sans KR";
    color: #fff;
  }
  .charicter {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 5%;

    .charicter1 {
      position: absolute;
      background-image: url("../img/charicter/pg5_maverick.png");
      width: 100vw;
      height: 100vh;
      top: 21vw;
      left: 15vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(3deg);
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }

    .charicter1-1 {
      position: absolute;
      background-image: url("../img/charicter/pg5_maverick2.png");
      width: 100vw;
      height: 100vh;
      top: 21vw;
      left: 15vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(3deg);
    }

    .charicter2 {
      position: absolute;
      background-image: url("../img/charicter/pg5_fenny.png");
      width: 100vw;
      height: 100vh;
      top: 18vw;
      left: 35vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(-2deg);
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }

    .charicter2-1 {
      position: absolute;
      background-image: url("../img/charicter/pg5_fenny2.png");
      width: 100vw;
      height: 100vh;
      top: 18vw;
      left: 35vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(-2deg);
      opacity: 1;
    }

    .charicter3 {
      position: absolute;
      background-image: url("../img/charicter/pg5_rooster2.png");
      width: 100vw;
      height: 100vh;
      top: 20vw;
      left: 55vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(3deg);
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }

    .charicter3-1 {
      position: absolute;
      background-image: url("../img/charicter/pg5_rooster.png");
      width: 100vw;
      height: 100vh;
      top: 20vw;
      left: 55vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(3deg);
      opacity: 1;
    }

    .charicter4 {
      position: absolute;
      background-image: url("../img/charicter/pg5_phoenix.png");
      width: 100vw;
      height: 100vh;
      top: 18vw;
      left: 75vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(-1deg);
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }

    .charicter4-1 {
      position: absolute;
      background-image: url("../img/charicter/pg5_phoenix2.png");
      width: 100vw;
      height: 100vh;
      top: 18vw;
      left: 75vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(-1deg);
    }

    .charicter5 {
      position: absolute;
      background-image: url("../img/charicter/pg5_Hang-Man.png");
      width: 100vw;
      height: 100vh;
      top: 16vw;
      left: 95vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(-2deg);
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }

    .charicter5-1 {
      position: absolute;
      background-image: url("../img/charicter/pg5_Hang-Man2.png");
      width: 100vw;
      height: 100vh;
      top: 16vw;
      left: 95vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(-2deg);
    }

    .charicter6 {
      position: absolute;
      background-image: url("../img/charicter/pg5_cyclone.png");
      width: 100vw;
      height: 100vh;
      top: 20vw;
      left: 115vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(3deg);
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }

    .charicter6-1 {
      position: absolute;
      background-image: url("../img/charicter/pg5_cyclone2.png");
      width: 100vw;
      height: 100vh;
      top: 20vw;
      left: 115vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(3deg);
    }

    .charicter7 {
      position: absolute;
      background-image: url("../img/charicter/pg5_iceman.png");
      width: 100vw;
      height: 100vh;
      top: 16vw;
      left: 135vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(-2deg);
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }

    .charicter7-1 {
      position: absolute;
      background-image: url("../img/charicter/pg5_iceman2.png");
      width: 100vw;
      height: 100vh;
      top: 16vw;
      left: 135vw;
      background-repeat: no-repeat;
      background-size: 18vw;
      transform: rotate(-2deg);
    }
  }

  // .line0 {
  //   position: absolute;
  //   background-image: url("../img/f-14_4.png");
  //   width: 100vw;
  //   height: 100vh;
  //   top: 0;
  //   background-repeat: no-repeat;
  //   background-size: 5vw;
  // }

  .line1 {
    position: fixed;
    background-image: url("../img/charicter/1.png");
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0;
    background-repeat: no-repeat;
    background-size: 60vw;
    opacity: 0.4;
  }

  // .line2 {
  //   position: fixed;
  //   background-image: url("../img/charicter/2.png");
  //   width: 100vw;
  //   height: 88vh;
  //   bottom: 0;
  //   left: 0vw;
  //   top: 0;
  //   background-repeat: no-repeat;
  //   background-size: 80vw;
  //   opacity: 0.4;
  // }

  .line3 {
    position: fixed;
    background-image: url("../img/charicter/3.png");
    width: 100vw;
    height: 100vh;
    top: 8vh;
    left: 0vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    opacity: 0.4;
  }

  .line4 {
    position: fixed;
    background-image: url("../img/charicter/4.png");
    width: 100vw;
    height: 100vh;
    bottom: 0vw;
    left: 0vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    opacity: 0.4;
  }
}
.ye03 {
  position: absolute;
  width: 100vw;
  height: 10000px;
  top: 11000px;
  left: 0;
  background-color: #1b140b;

  .footer {
    position: fixed;
    background-image: url("../img/main_page_4.jpg.jfif");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100vw;
    top: 0;
    left: 0;
  }

  // .footer_main {
  //   position: absolute;
  //   width: 100vw;
  //   height: 100vh;
  //   background-size: 100vw;
  //   background-repeat: no-repeat;
  //   opacity: 1;

  .footer1 {
    position: fixed;
    background-image: url("../img/footer/크래딧.png");
    width: 1000vw;
    height: 1000vh;
    top: 0vh;
    left: 43.5vw;
    background-size: 13vw;
    background-repeat: no-repeat;
  }

  .footer2 {
    position: fixed;
    background-image: url("../img/footer/디자인.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    top: 40vh;
    left: 45vw;
    background-size: 10vw;
  }

  .footer3 {
    position: fixed;
    background-image: url("../img/footer/원작.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    top: 60vh;
    left: 44vw;
    background-size: 12vw;
  }

  .footer4 {
    position: fixed;
    background-image: url("../img/footer/기획.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    top: 15vh;
    left: 45vw;
    background-size: 10vw;
  }
  .footer5 {
    position: fixed;
    background-image: url("../img/logo/logo_white.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    top: 90vh;
    left: 45vw;
    background-size: 10vw;
    opacity: 0.2;
    z-index: 1;
  }
}
