/* RESET */
@import "reset";
/* FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Kaushan+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
// @import "responsive";
// font-family: 'Bebas Neue', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Noto Sans KR', sans-serif;

.display_flex {
  display: flex !important;
}

body {
  width: 100vw;
  height: 30000px;
  background-color: #ff0000;
  // overflow: hidden;
}

header {
  position: fixed;
  width: 100vw;
  height: 100vh;

  .header_gnb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 45px;

    .header_gnb_logo {
      width: 22vh;
      height: 6vh;
      background: url("../img/logo_white.png");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }

    //logo
    .header_gnb_menu {
      width: 3vh;
      height: 3vh;
      background: url("https://www.designnas.com/portfolio/bx-site/sweet_home/img/section01/menu.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    //menu
  }

  .gnb_opened {
    width: 100vw;
    height: 75vh;
    padding: 0px 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    .gnb_menu_top {
      display: flex;
      justify-content: space-between;

      .gnb_menu_top_left {
        display: flex;
        flex-direction: column;
        font: 48px/1.5 "Bebas Neue";

        > a {
          color: rgba(255, 255, 255, 0.514);

          &:hover {
            color: #fff;
          }
        }
      }

      .gnb_menu_top_right {
        display: flex;
        flex-direction: column;
        text-align: right;
        font: 14px/1.5 "Bebas Neue";

        > p {
          color: rgba(255, 255, 255, 0.317);
        }
      }
    }

    //top
    .gnb_menu_bottom {
      display: flex;
      justify-content: space-between;

      .gnb_menu_bottom_left {
        display: flex;
        font: 18px/1 "Bebas Neue";

        > a {
          color: #fff;
          margin-right: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .gnb_menu_bottom_right {
        display: flex;
        font: 18px/1 "Bungee";

        > a {
          color: red;
        }
      }
    }

    //bottom
  }
}

//header

//영은
.ye01 {
  position: absolute;
  width: 100vw;
  height: 1000px;
  top: 0px;
  left: 0;
  background-color: red;

  background-image: url("../img/pg4_main_bg.png");
  background-repeat: no-repeat;
  // background-size: cover;

  article {
    .main {
      position: absolute;
      background-image: url("../img/pg4_main_tom.png");
      width: 100vw;
      height: 107vh;
      left: 0vw;
      background-repeat: no-repeat;
      // background-size: cover;

      z-index: 3;
    }
    .text1 {
      display: flex;
      position: absolute;
      background-image: url("../img/pg4_main_text.png");
      width: 100vw;
      height: 100vh;
      top: 0;
      background-repeat: no-repeat;
    }
    .text2 {
      position: absolute;
      background-image: url("../img/pg4_main_text2.png");
      width: 100vw;
      height: 150vh;
      top: 0vw;
      background-repeat: no-repeat;
    }
    .F-14_1 {
      position: absolute;
      background-image: url("../img/f-14_2.png");
      width: 150vw;
      height: 200vh;

      background-repeat: no-repeat;
    }
    .F-14_2 {
      position: absolute;
      background-image: url("../img/f-14_3.png");
      width: 100vw;
      height: 100vh;
      top: 5vw;
      background-repeat: no-repeat;
    }
    .F-14_3 {
      position: absolute;
      background-image: url("../img/f-14_4.png");
      width: 50vw;
      height: 120vh;
      bottom: 5vw;
      background-repeat: no-repeat;
    }
    .F-14_4 {
      position: absolute;
      background-image: url("../img/f-14_5.png");
      width: 100vw;
      height: 100vh;
      top: 0vw;
      background-repeat: no-repeat;
    }
    .F-14_5 {
      position: absolute;
      background-image: url("../img/f-14_6.png");
      width: 100vw;
      height: 100vh;
      top: 0vw;
      background-repeat: no-repeat;
    }
  }
}

.ye02 {
  position: absolute;
  width: 100vw;
  height: 1000px;
  top: 10000px;
  left: 0;
  background-color: #1b140b;

  .text1 {
    position: absolute;
    font-family: "Kaushan Script";
    //Bebas Neue//
    top: 5vw;
    left: 5vw;
    font-size: 80px;
    color: #fff;
  }

  .text2 {
    position: absolute;
    width: 100vw;
    height: 500px;
    top: 6vw;
    right: 5vw;
    text-align: end;
    font-size: 10px/1;
    font-family: "Noto Sans KR";
    color: #fff;
  }

  .charicter1 {
    position: absolute;
    background-image: url("../img/charicter/pg5_maverick.png");
    width: 100vw;
    height: 100vh;
    top: 21vw;
    left: 15vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(3deg);
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  .charicter1-1 {
    position: absolute;
    background-image: url("../img/charicter/pg5_maverick2.png");
    width: 100vw;
    height: 100vh;
    top: 21vw;
    left: 15vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(3deg);
  }

  .charicter2 {
    position: absolute;
    background-image: url("../img/charicter/pg5_fenny.png");
    width: 100vw;
    height: 100vh;
    top: 18vw;
    left: 35vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(-2deg);
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  .charicter2-1 {
    position: absolute;
    background-image: url("../img/charicter/pg5_fenny2.png");
    width: 100vw;
    height: 100vh;
    top: 18vw;
    left: 35vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(-2deg);
    opacity: 1;
  }

  .charicter3 {
    position: absolute;
    background-image: url("../img/charicter/pg5_rooster2.png");
    width: 100vw;
    height: 100vh;
    top: 20vw;
    left: 55vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(3deg);
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  .charicter3-1 {
    position: absolute;
    background-image: url("../img/charicter/pg5_rooster.png");
    width: 100vw;
    height: 100vh;
    top: 20vw;
    left: 55vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(3deg);
    opacity: 1;
  }

  .charicter4 {
    position: absolute;
    background-image: url("../img/charicter/pg5_phoenix.png");
    width: 100vw;
    height: 100vh;
    top: 18vw;
    left: 75vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(-1deg);
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  .charicter4-1 {
    position: absolute;
    background-image: url("../img/charicter/pg5_phoenix2.png");
    width: 100vw;
    height: 100vh;
    top: 18vw;
    left: 75vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(-1deg);
  }

  .charicter5 {
    position: absolute;
    background-image: url("../img/charicter/pg5_Hang-Man.png");
    width: 100vw;
    height: 100vh;
    top: 16vw;
    left: 95vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(-2deg);
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  .charicter5-1 {
    position: absolute;
    background-image: url("../img/charicter/pg5_Hang-Man2.png");
    width: 100vw;
    height: 100vh;
    top: 16vw;
    left: 95vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(-2deg);
  }

  .charicter6 {
    position: absolute;
    background-image: url("../img/charicter/pg5_cyclone.png");
    width: 100vw;
    height: 100vh;
    top: 20vw;
    left: 115vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(3deg);
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  .charicter6-1 {
    position: absolute;
    background-image: url("../img/charicter/pg5_cyclone2.png");
    width: 100vw;
    height: 100vh;
    top: 20vw;
    left: 115vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(3deg);
  }

  .charicter7 {
    position: absolute;
    background-image: url("../img/charicter/pg5_iceman.png");
    width: 100vw;
    height: 100vh;
    top: 16vw;
    left: 135vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(-2deg);
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  .charicter7-1 {
    position: absolute;
    background-image: url("../img/charicter/pg5_iceman2.png");
    width: 100vw;
    height: 100vh;
    top: 16vw;
    left: 135vw;
    background-repeat: no-repeat;
    background-size: 18vw;
    transform: rotate(-2deg);
  }

  // .line0 {
  //   position: absolute;
  //   background-image: url("../img/f-14_4.png");
  //   width: 100vw;
  //   height: 100vh;
  //   top: 0;
  //   background-repeat: no-repeat;
  //   background-size: 5vw;
  // }

  .line1 {
    position: absolute;
    background-image: url("../img/charicter/1.png");
    width: 100vw;
    height: 100vh;
    left: 0vw;
    background-repeat: no-repeat;
    background-size: 50vw;
    opacity: 0.4;
  }

  .line2 {
    position: absolute;
    background-image: url("../img/charicter/2.png");
    width: 100vw;
    height: 100vh;
    top: 6vh;
    left: 0vw;
    background-repeat: no-repeat;
    background-size: 80vw;
    opacity: 0.4;
  }

  .line3 {
    position: absolute;
    background-image: url("../img/charicter/3.png");
    width: 100vw;
    height: 100vh;
    top: 5vh;
    left: 0vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    opacity: 0.4;
  }

  .line4 {
    position: absolute;
    background-image: url("../img/charicter/4.png");
    width: 100vw;
    height: 100vh;
    bottom: 1vw;
    left: 0vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    opacity: 0.4;
  }
}
.ye03 {
  // position: absolute;
  // width: 100vw;
  // height: 1000px;
  // top: 2000px;
  // left: 0;
  // background-color: orange;
  // opacity: 0.5;
  // border: 1px solid black;
}
